
# Generated directories
**/core/**
**/libraries/**
**/Release/**

# Trash files
**/.ino.cpp
**/.DS_Store
**/.travis.yml
**/lib/readme.txt

**/.pio/**
**/.vscode/**
**/.pioenvs/**
**/.piolibdeps/**

./src/main.cpp